<header>

</header>

<nav class="navbar navbar-default">

    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/matrice/home"><strong>home★</strong></a></li>
        <li *ngFor="let item of tables" ><a><strong>{{item.name}}</strong></a></li>
        <li routerLinkActive="active"><a routerLink="/matrice/new"><strong>+</strong></a></li>
      </ul>
    </div>
  </nav>


  <div class="container">

    <div class="row">
      <router-outlet></router-outlet>
    </div>