<div class="auth">

    <form name="loginF" class="form" (ngSubmit)="onSubmit(log)" #log="ngForm">
      <h2>Authentification</h2>
      <div class="form-group">
         <label for="mail">  </label>
           <input #mail type="email" value="ok" id="mail" name="mail" placeholder="email" class="form-control" ngModel required/>
        </div>
  
         <div class="form-group">
            <label for="pwd"> </label>
            <input #pwd type="password"id="pwd"name="pwd"placeholder="password"class="form-control" ngModel required/>
          </div>
  
  
  
          <button class="btn btn-success" *ngIf="!authStatus" type="submit" >Se connecter</button>
          <button class="btn btn-danger" *ngIf="authStatus" type="button" (click)="onSignOut()" >Se déconnecter</button><br>
          <a routerLink="/register">enregistrement</a>
  
    </form>
  
  </div>
  